.main{
    width: 40%;
    box-shadow: 1px 1px 10px rgb(222, 130, 130);
    margin-top: 45px;
    padding: 10px;

}
h2{
    font-family: 'cairo',sans-serif;
}
input{
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-family:'cairo',sans-serif ;
    font-size: 15px;
    font-weight: bold;
}
button{
    border: none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(149, 184, 149);
    cursor: pointer;
    font-family: 'cairo',sans-serif;
    margin-bottom: 15px;

}
label{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(193, 210, 99);
    font-family: 'cairo',sans-serif;
    color: white;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: gold;
    font-family: 'cairo',sans-serif;
    font-weight: bold;
    

}